In [1]:
import pandas as pd
#import os
import gmaps
import gmaps.datasets
import numpy as np
from config import api_key

#file_path=os.path.join('zipsgood.csv')
#file_path=('zipsgood.csv')
df=pd.read_csv('zipsgood.csv')
df

     Unnamed: 0    zip  num       lat        lng
0             0  80112    2  39.57258 -104.85740
1             1  12771    2  41.37440  -74.62464
2             2  18938    2  40.35238  -74.99750
3             3  80205    8  39.75866 -104.96339
4             4  53705    4  43.07364  -89.46339
..          ...    ...  ...       ...        ...
814         814  60030   16  42.33666  -88.04459
815         815  80113    9  39.64216 -104.96251
816         816  80421    1  39.47872 -105.52618
817         817  96816    6  21.29278 -157.79071
818         818  73120    3  35.58047  -97.57223

[819 rows x 5 columns]

In [2]:
df=df.dropna()

In [3]:
df.loc[:,'num'].max()

87

In [4]:
total_salenum=df.loc[:,'num']
locations=df[["lat","lng"]].astype(float)

In [5]:
gmaps.configure(api_key)
m=gmaps.figure()
heat_layer=gmaps.heatmap_layer(locations[["lat","lng"]], weights=total_salenum, dissipating=False, max_intensity=88, point_radius=1.5)
m.add_layer(heat_layer)
m

Figure(layout=FigureLayout(height='420px'))